
body {
    background: linear-gradient(rgb(50, 0, 0), rgb(20, 0, 0)); /* Dark red/black */
    color: white;
    font-family: 'Verdana';
    height: 100vh;
    margin: 0;
    overflow: hidden;
    max-width: 60ch;
    text-align: left;
    line-height: 1.6;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    padding: 1em;
}

.failed {
    font-size: 32px;
    color: red;
    animation: blink 1s infinite alternate;
    margin-top: 20px;
}
a{
    color: aliceblue;
}

a:hover{
    color: rgb(60, 154, 235);
}

@keyframes blink {
    from { opacity: 1; }
    to { opacity: 0.5; }
}

