body {
    background-color: #f4f4f4;
    color: #333;
}

.content {
    display: flex;
    flex-direction: row;
    padding: 40px;
    gap: 40px;
}

.left-panel {
    flex: 1;
    max-width: 40%;
}

.right-panel {
    flex: 2;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.description {
    background-color: #fff;
    padding: 20px;
}

.image{
    width: 100%;
}